.contador{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 3.5em;
    color: rgb(255, 8, 82);
}

img{
    width: 20%;
    height: 20%;
    margin-top: 3%;
    border-radius: 5%;
}


.imagens{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

#carrossel{
    width: 25px;
    height: 25px;
    padding: 0.5% 1%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 1.8em;
    margin: 5px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
